<div id="{uniqueID}_modal" class="modal_outer noselect">
	<div class="modal_inner noselect">
		<h3>Node Manager</h3>
		<hr class="dark_hr"/>

		<b>Launch Node:</b>

		<div class="spacer"></div>

		<select id="{uniqueID}_type">
			<option value="rosrun">rosrun</option>
			<option value="roslaunch">roslaunch</option>
		</select>


		<input list="{uniqueID}_package_datalist" id="{uniqueID}_package" class="datalist_input">
		<datalist id="{uniqueID}_package_datalist">
			<!--Add packages here-->
		</datalist>


		<select id="{uniqueID}_name">
			<!--Add nodes here-->
		</select>

		<p style="color: lightgray">Note: Package executable detection is experimental so not all or too many files might show up.</p>

		<div class="spacer"></div>

		<button id="{uniqueID}_execute">Execute</button>

		<div class="spacer"></div>

		<hr class="dark_hr"/>
		<b>Diagnostics:</b>

		<div class="spacer"></div>

		<button id="{uniqueID}_roswtf">roswtf</button>

		<div class="spacer"></div>

		<hr class="dark_hr"/>

		<b>Running Nodes:</b>
		<div class="spacer"></div>
		<div id="{uniqueID}_nodelist">
			
		</div>

		<div class="spacer"></div>

		<hr class="dark_hr"/>

		<button id="{uniqueID}_remove" class="delete_button" onclick="removeWidget('{uniqueID}')">Remove Widget</button>

	</div>
</div>

<div id="{uniqueID}_contextmodal" class="modal_outer noselect">
	<div class="modal_inner noselect">
		<h3 id="{uniqueID}_context_title"></h3>
		<hr class="dark_hr"/>

		<div class="spacer"></div>

		<p id="{uniqueID}_rosnode_info" style="color:lightgray">Waiting for rosnode info...</p>
		
		<hr class="dark_hr"/>

		<p>Note that if a node is set to respawn, it'll automatically restart itself.</p>

		<button id="{uniqueID}_nodekill" style="background-color: rgb(131, 17, 17);">Kill node</button>
	</div>
</div>


<div id="{uniqueID}_roswtfmodal" class="modal_outer noselect">
	<div class="modal_inner noselect">
		<h3>Roswtf Diagnostics</h3>
		<hr class="dark_hr"/>

		<div class="spacer"></div>

		<p id="{uniqueID}_roswtf_data" style="color:lightgray">Waiting for roswtf report...</p>
		
	</div>
</div>