<div id="{uniqueID}_modal" class="modal_outer noselect">
	<div class="modal_inner noselect">
		<h3>Node Manager</h3>
		<hr>

		<b>Launch Node:</b>

		<br>

		<select id="{uniqueID}_type">
			<option value="ros2 run">ros2 run</option>
			<option value="ros2 launch">ros2 launch</option>
		</select>


		<input list="{uniqueID}_package_datalist" id="{uniqueID}_package" class="datalist_input">
		<datalist id="{uniqueID}_package_datalist">
			<!--Add packages here-->
		</datalist>


		<select id="{uniqueID}_name">
			<!--Add nodes here-->
		</select>

		<p style="color: lightgray">Note: Package executable detection is experimental so not all or too many files might show up.</p>

		<br>

		<button id="{uniqueID}_execute">Execute</button>

		<br>

		<hr>
		<b>Diagnostics:</b>

		<br>

		<button id="{uniqueID}_roswtf">ros2 doctor</button>

		<br>

		<hr>

		<b>Running Nodes:</b>
		<br>
		<div id="{uniqueID}_nodelist">
			
		</div>

		<br>

		<hr>

		<button id="{uniqueID}_remove" class="delete_button" onclick="removeWidget('{uniqueID}')">Remove Widget</button>

	</div>
</div>

<div id="{uniqueID}_contextmodal" class="modal_outer noselect">
	<div class="modal_inner noselect">
		<h3 id="{uniqueID}_context_title"></h3>
		<hr>

		<br>

		<p id="{uniqueID}_rosnode_info" style="color:lightgray">Waiting for ros2 node info...</p>
		
		<hr>

		<p>Note that if a node is set to respawn, it'll automatically restart itself. Also given that ros 2 has no way of shutting down nodes, it may seem like killed nodes are running for a while after they died until the node list polls again.</p>

		<button id="{uniqueID}_nodekill" style="background-color: rgb(131, 17, 17);">Kill node</button>
	</div>
</div>


<div id="{uniqueID}_roswtfmodal" class="modal_outer noselect">
	<div class="modal_inner noselect">
		<h3>Doctor Diagnostics</h3>
		<hr>

		<br>

		<p id="{uniqueID}_roswtf_data" style="color:lightgray">Waiting for doctor report...</p>
		
	</div>
</div>