<div id="{uniqueID}_modal" class="modal_outer noselect">
	<div class="modal_inner noselect">
		<h3>Laser Scan</h3>
		<p id="{uniqueID}_status" class="status">Status: Ok.</p>
		<hr>

		<label for="{uniqueID}_topic">Topic:</label>
		<select id="{uniqueID}_topic" name="topic">
			<!-- add topics here-->
		</select>

		<br>

		<label for="{uniqueID}_opacity">Opacity:</label>
		<span id="{uniqueID}_opacity_value">1.0</span>
		<input type="range" value="1.0" step="0.05" min="0.1" max="1.0" id="{uniqueID}_opacity">

		<br>

		<label for="{uniqueID}_thickness">Thickness (m):</label>
		<span id="{uniqueID}_thickness_value">0.02</span>
		<input type="range" value="0.02" step="0.01" min="0.01" max="0.2" id="{uniqueID}_thickness">

		<br>

		<label for="{uniqueID}_colorpicker">Colour:</label>
		<input type="color" value="#ff1100" id="{uniqueID}_colorpicker">

		<br>

		<label for="{uniqueID}_throttle">Socket throttle (ms):</label>
		<input type="number" value="2000" step="0" min="0" max="10000" id="{uniqueID}_throttle">

		<br>

		<p>Laser scans are typically high bandwidth topics, and as such can easily cause TCP congestion. Lower the socket throttle rate to get faster data updates, but note that other visualizers may stutter.</p>


		<hr>

		<br>

		<button id="{uniqueID}_remove" class="delete_button" onclick="removeWidget('{uniqueID}')">Remove Widget</button>

		
	</div>
</div>