<div id="{uniqueID}_modal" class="modal_outer noselect">
	<div class="modal_inner noselect">
		<h3>Robot Model</h3>
		<p id="{uniqueID}_status" class="status">Status: Ok.</p>
		<hr class="dark_hr"/>

		<div class="sprite-selector">
			<div class="tab" id="{uniqueID}_gallery_tabs">
				<button class="tablinks active-tab" id="{uniqueID}_ground">Ground</button>
				<button class="tablinks" id="{uniqueID}_sea">Sea</button>
				<button class="tablinks" id="{uniqueID}_air">Air</button>
				<button class="tablinks" id="{uniqueID}_misc">Misc</button>
			</div>
			
			<div class="thumbnail-gallery" id="{uniqueID}_gallery">
				<!-- Thumbnails will be populated here -->
			</div>
		</div>

		<p class="comment">Renders a simple 2D sprite of a fixed size relative to a TF link, for scale. </p>


		<label for="{uniqueID}_frame">TF Frame:</label>
		<select id="{uniqueID}_frame" name="topic">
			<option value='base_link'>base_link</option>
		</select>

		<div class="spacer"></div>

		<label for="{uniqueID}_length">Robot Length (m):</label>
		<input type="number" value="0.5" step="0.01" min="0.01" id="{uniqueID}_length">

		<div class="spacer"></div>

		<label for="{uniqueID}_offset_x">X offset (m):</label>
		<input type="number" value="0.0" step="0.01" id="{uniqueID}_offset_x">

		<div class="spacer"></div>

		<label for="{uniqueID}_offset_y">Y offset (m):</label>
		<input type="number" value="0.0" step="0.01"  id="{uniqueID}_offset_y">

		<div class="spacer"></div>

		<label for="{uniqueID}_offset_yaw">Yaw offset (deg):</label>
		<input type="number" value="0.0" step="0.01" min="-180" max="180" id="{uniqueID}_offset_yaw">

		<div class="spacer"></div>

		<label for="{uniqueID}_opacity">Opacity:</label>
		<span id="{uniqueID}_opacity_value">1.0</span>
		<input type="range" value="1.0" step="0.05" min="0.1" max="1.0" id="{uniqueID}_opacity">

		<div class="spacer"></div>

		<h4>Adding custom sprites</h4>

		<p class="comment">The sprites are sourced from vizanti/public/assets/robot_model/ and should start with an underscore, must be in .png format and will rotate around the image center.</p>

		<hr class="dark_hr"/>

		<button id="{uniqueID}_remove" class="delete_button" onclick="removeWidget('{uniqueID}')">Remove Widget</button>

		
	</div>
</div>