<div id="{uniqueID}_modal" class="modal_outer noselect">

	<div id="{uniqueID}_imgpreview" class="noselect compressedimage_preview">
		<img  src="assets/joypos.svg" alt="Image Preview" width="100" height="100">
	</div> 

	<div class="modal_inner noselect">
		<h3>Altimeter</h3>
		<p id="{uniqueID}_status" class="status">Status: Ok.</p>
		<hr class="dark_hr"/>

		<label for="{uniqueID}_frame">Robot Frame:</label>
		<select id="{uniqueID}_frame" name="topic">
			<option value='base_link'>base_link</option>
		</select>

		<div class="spacer"></div>

		<label for="{uniqueID}_mode">Display Mode:</label>
		<select id="{uniqueID}_mode" name="topic">
			<option value='altitude_positive'>Altitude (Z+)</option>
			<option value='depth_negative'>Depth (Z-)</option>
			<option value='altitude_negative'>Altitude inverted (Z-)</option>
			<option value='depth_positive'>Depth inverted (Z+)</option>
		</select>

		<div class="spacer"></div>

		<label for="{uniqueID}_step">Step (meter):</label>
		<input type="number" value="1.0" step="0.1" min="0.1" max="1000" id="{uniqueID}_step">

		<div class="spacer"></div>

		<div class="live_data_display">
			<p id="{uniqueID}_altitude_text">Altitude: ?</p>
			<p id="{uniqueID}_target_text">Target: N/A</p>
		</div>

		Displays the Z value of the frame on a depth/altitude gauge. Inverted modes treat negative values to positive.

		<div class="spacer"></div>

		<h4>Send Target</h4>

		<div class="spacer"></div>

		<label for="{uniqueID}_topic">Value Topic:</label>
		<select id="{uniqueID}_topic" name="topic">
			<option value="/depth_tgt">/depth_tgt</option>
		</select>

		<p>Send a std_msgs/Float32 value to this topic.</p>

		<p class="comment">Clicking the altimeter will mark the depth/alitude with a yellow flag and publish it. Or click the button below and input it manually.</p>

		<button id="{uniqueID}_manual_target" class="export_button">Input and send target manually</button>

		<div class="spacer"></div>

		<hr class="dark_hr"/>

		<button id="{uniqueID}_remove" class="delete_button" onclick="removeWidget('{uniqueID}')">Remove Widget</button>

	</div>

	<div style="height: 180vh; width: 1px;">
		<!-- Scroll spacer-->
	</div>

</div>