<div id="{uniqueID}_modal" class="modal_outer noselect">
	<div class="modal_inner noselect">
		<h3>Bag Recorder</h3>
		<hr>


		<label for="{uniqueID}_savepath">Save to path:</label>
		<input id="{uniqueID}_savepath" type="text" value="~/recording.bag">

		<br>


		<button id="{uniqueID}_selectall">Select All</button>

		<br>

		<button id="{uniqueID}_selectnone">Select None</button>
		
		<br>

		<button id="{uniqueID}_toggle" style="background-color: rgb(38, 104, 31);">Start recording</button>

		<br>

		<b>Topics:</b>
		<br>
		<div id="{uniqueID}_topics">
			
		</div>

		<br>

		<hr>

		<button id="{uniqueID}_remove" class="delete_button" onclick="removeWidget('{uniqueID}')">Remove Widget</button>

	</div>
</div>