<div id="{uniqueID}_modal" class="modal_outer noselect">
	<div class="modal_inner noselect folder_modal">

		<div id="{uniqueID}_widget_container" class="folder_icon_container">
			<div data-uniqueid="addbutton">
				<div class="icon noselect">
					<img src="assets/add.svg" alt="+" width="50" height="50" onclick="openModal('modal_add_element', '{uniqueID}_widget_container')">
				</div>
			</div>
		</div>

		<div class="spacer"></div>

		<button id="{uniqueID}_remove" class="delete_button">Remove Folder</button>

	</div>
</div>