<div id="{uniqueID}_icon" class="icon noselect" style="background-color: transparent">
	<img src="assets/folder.svg" alt="?" width="50" height="50" style="opacity: 0.7" onclick="openModal('{uniqueID}_modal')">
	<object id="{uniqueID}_subicon0" class="icon-img" type="image/svg+xml" data="assets/folder.svg" alt=" " width="28" height="28" style="left: 30%;"></object>
	<object id="{uniqueID}_subicon1" class="icon-img" type="image/svg+xml" data="assets/folder.svg" alt=" " width="28" height="28" style="left: 70%;"></object>
	<p id="{uniqueID}_subtext0" class="folder-icon-text" style="left: 30%;"></p>
	<p id="{uniqueID}_subtext1" class="folder-icon-text" style="left: 70%;"></p>
</div>