<div id="{uniqueID}_modal" class="modal_outer noselect">
	<div class="modal_inner noselect">
		<h3>Grid Renderer</h3>
		<p id="{uniqueID}_status" class="status">Status: Ok.</p>
		<hr>

		<label for="{uniqueID}_colorpicker">Grid colors:</label>
		<input type="color" value="#3e556a" id="{uniqueID}_colorpicker">
		<input type="color" value="#3e556a" id="{uniqueID}_colorpicker_sub">

		<br>

		<label for="{uniqueID}_autoscale">Autoscale</label>
		<input type="checkbox" id="{uniqueID}_autoscale">

		<br>

		<label for="{uniqueID}_step">Step (meter):</label>
		<input type="number" value="1.0" step="0.01" min="0.01" max="10000" id="{uniqueID}_step">

		<br>

		<label for="{uniqueID}_subdivisions">Grid subdivisions:</label>
		<input type="number" value="2" step="1" min="1" max="10" id="{uniqueID}_subdivisions">

		<br>

		<label for="{uniqueID}_thickness">Main grid line thickness (px):</label>
		<input type="number" value="1" step="1" min="1" max="20" id="{uniqueID}_thickness">

		<br>

		<p>Note: Grids will stop rendering when the line density gets too high (to prevent lag). Create more grids with larger steps or turn autoscale on if you need a large range of scale.</p>

		<hr>

		<button id="{uniqueID}_remove" class="delete_button" onclick="removeWidget('{uniqueID}')">Remove Widget</button>

	</div>
</div>
