<div id="{uniqueID}_modal" class="modal_outer noselect">
	<div class="modal_inner noselect">
		<h3>Satelite Tiles</h3>
		<p id="{uniqueID}_status" class="status">Status: Ok.</p>
		<hr>

		<label for="{uniqueID}_topic">Topic:</label>
		<select id="{uniqueID}_topic" name="topic">
			<!-- add topics here-->
		</select>

		<br>
		<label for="{uniqueID}_tileserver">Tile server URL:</label>
		<input id="{uniqueID}_tileserver" type="text" value="https://tile.openstreetmap.org/{z}/{x}/{y}.png">

		<br>

		<label for="{uniqueID}_opacity">Opacity:</label>
		<span id="{uniqueID}_opacity_value">0.7</span>
		<input type="range" value="0.7" step="0.05" min="0.1" max="1.0" id="{uniqueID}_opacity">

		<label>Texture smoothing:</label>
		<input type="checkbox" checked id="{uniqueID}_smoothing">

		<br>

		<label>Ignore tf rotations:</label>
		<input type="checkbox" checked id="{uniqueID}_ignore_rotation">

		<p style="color:#b4b4b4;">Displaying the map with 0 yaw rotation can make viewing raw NavSatFix data from receivers more stable, but don't expect the robot to be facing the right way.</p>


		<br>

		<h4>Notes</h4>

		<p>The tile server can be changed to anything that uses 265x256 sized tiles, the Web Mercator projection, and follows the same {x},{y},{z} convention. </p>

		<p>All fetched tiles will be stored permanently in the indexedDB, so they can be loaded quickly and used offline if needed. </p>

		<p>Keep in mind that browser-cached data is tied to a specific site URL, so if your robot's IP address changes when transitioning from a local network to offline AP mode, the tiles won't be accessible. One way to get tiles loaded is to first load up the site offline, switch to mobile data to fetch the tiles without refreshing, and then disable it again so rosbridge can reconnect.</p>

		<hr>

		<button id="{uniqueID}_remove" class="delete_button" onclick="removeWidget('{uniqueID}')">Remove Widget</button>

		
	</div>
</div>