<div id="{uniqueID}_icon" class="icon noselect">
	<img src="assets/waypoints.svg" alt="model" width="50" height="50">
	<p id="{uniqueID}_buttontext" class="icon-text" style="top: 30%; left: 70%; color:black; font-size: 0.6em;"></p>
</div> 

<!-- Dropdown Menu -->
<div id="{uniqueID}_dropdown" class="dropdown-menu" style="display: none">
	<div class="dropdown-inner">
		<div class="dropdown-item" id="{uniqueID}_sendAction">
			<img src="assets/dropdown_start.svg" class="dropdown-icon"> Start
		</div>
		<div class="dropdown-item" id="{uniqueID}_stopAction">
			<img src="assets/dropdown_stop.svg" class="dropdown-icon"> Stop
		</div>
		<div class="dropdown-item" id="{uniqueID}_editXY">
			<img src="assets/dropdown_xy.svg" class="dropdown-icon"> Edit XY
		</div>
		<div class="dropdown-item" id="{uniqueID}_editZ">
			<img src="assets/dropdown_z.svg" class="dropdown-icon"> Edit Z
		</div>
		<div class="dropdown-item" id="{uniqueID}_config">
			<img src="assets/dropdown_setup.svg" class="dropdown-icon"> Setup
		</div>
	</div>
</div>