<div id="{uniqueID}_modal" class="modal_outer noselect">
	<div class="modal_inner noselect">
		<h3>Waypoint Mission</h3>
		<p id="{uniqueID}_status" class="status">Status: Ok.</p>
		<hr class="dark_hr"/>

		<label for="{uniqueID}_topic">Topic:</label>
		<select id="{uniqueID}_topic" name="topic">
			<option value="/waypoints">/waypoints</option>
		</select>

		<div class="spacer"></div>

		<label for="{uniqueID}_fixed_frame">Fixed Frame:</label>
		<select id="{uniqueID}_fixed_frame" name="topic">
			<option value="map">map</option>
		</select>

		<div class="spacer"></div>

		<label for="{uniqueID}_base_link_frame">Robot Frame:</label>
		<select id="{uniqueID}_base_link_frame" name="topic">
			<option value="base_link">base_link</option>
		</select>

		<p style="color: #b4b4b4;">Defines a sequence of poses and publishes them as a nav_msgs/Path or geometry_msgs/PoseArray.</p>

		<p><strong>X/Y Axis:</strong> Edit horizontal positions.</p>
		<ul>
			<li><strong style="color:rgb(167, 255, 196)">Add Points:</strong> Click on the view area.</li>
			<li><strong style="color:rgb(255, 185, 158)">Delete Points:</strong> Tap an existing point.</li>
			<li><strong style="color:rgb(255, 254, 188)">Move Points:</strong> Drag an existing point to reposition it.</li>
			<li><strong style="color: white">Snap to Grid:</strong> Hold the Shift key while dragging to snap to the pixel grid.</li>
			<li><button id="{uniqueID}_flip" >Flip waypoint order</button></li>
		</ul>
		
		<p><strong>Z Axis:</strong> Edit vertical positions.</p>
		<ul>
			<li><strong  style="color:rgb(255, 254, 188)">Set Height:</strong> Click and drag a point to set a rough Z value.</li>
			<li><strong  style="color:rgb(255, 254, 188)">Fine Adjust:</strong> Release and drag a point a second time to fine adjust its height.</li>
			<li><button id="{uniqueID}_z_set" >Set all Z values</button></li>
		</ul>
		
		
		<p style="color: #b4b4b4;">When editing X/Y/Z positions, click the icon again to stop editing.</p>
		
		<div class="spacer"></div>

		<label for="{uniqueID}_margin">Safety margin visual indicator (meters):</label>
		<input type="number" value="0.8" step="0.1" min="0" max="1000" id="{uniqueID}_margin">

		<div class="spacer"></div>

		<label>Start from closest waypoint:</label>
		<input type="checkbox" id="{uniqueID}_startclosest">

		<div class="spacer"></div>

		<h4>Clear Path</h4>

		<button id="{uniqueID}_delete" style="background-color: rgb(104, 78, 31);">Remove all waypoints</button>

		<div class="spacer"></div>

		<p style="color: #b4b4b4;">Tip: If you're using a nav stack that doesn't use Paths or PoseArrays, but will accept simple goals, see the demo node at rosrun vizanti waypoints_to_simple_goals.py</p>

		<hr class="dark_hr"/>

		<div class="spacer"></div>

		<button id="{uniqueID}_remove" class="delete_button" onclick="removeWidget('{uniqueID}')">Remove Widget</button>

		
	</div>
</div>