<div id="{uniqueID}_modal" class="modal_outer noselect">
	<div class="modal_inner noselect">
		<h3>Waypoint Mission</h3>
		<hr>

		<label for="{uniqueID}_topic">Topic:</label>
		<select id="{uniqueID}_topic" name="topic">
			<option value="/waypoints">/waypoints</option>
		</select>

		<br>

		<br>

		<h4>Edit Path</h4>

		<button id="{uniqueID}_flip" >Flip waypoint order</button>

		<br>

		<button id="{uniqueID}_delete" style="background-color: rgb(104, 78, 31);">Clear path data</button>

		<br>

		<h4>Publish Path</h4>

		<button id="{uniqueID}_start" >Send</button>

		<br>

		<button id="{uniqueID}_reverse" >Send Reversed</button>

		<br>

		<button id="{uniqueID}_stop" style="background-color: rgb(104, 78, 31);">Stop (publish empty Path)</button>

		<br>

		<hr>

		<br>

		<button id="{uniqueID}_remove" class="delete_button" onclick="removeWidget('{uniqueID}')">Remove Widget</button>

		
	</div>
</div>