<div id="{uniqueID}_modal" class="modal_outer noselect">
	<div class="modal_inner noselect">
		<h3>Global Settings</h3>
		<p id="{uniqueID}_status" class="status">Status: Ok.</p>
		<hr class="dark_hr"/>

		<label for="{uniqueID}_fixedframe">Fixed Frame:</label>
		<select id="{uniqueID}_fixedframe" name="topic">
			
		</select>

		<div class="spacer"></div>

		<label for="{uniqueID}_colorpicker">Background Color:</label>
		<input type="color" value="#273444" id="{uniqueID}_colorpicker">


		<div class="spacer"></div>
		<hr class="dark_hr"/>

		<h4>Manage settings</h4>

		<span><button id="{uniqueID}_export_persistent" class="export_button">⇑ Export</button><button id="{uniqueID}_import_persistent" class="export_button">⇓ Import</button></span>
		<p class="comment">
			Exporting the current configuration will save the widget layout, settings, camera pose, and other info, so it can be imported later, 
			or so it can be <a href="https://github.com/MoffKalast/vizanti/wiki/Advanced-Configuration#adding-a-default-config" class="highlight-link">set as a default config</a>.
		</p>

		<div class="spacer"></div>

		<button id="{uniqueID}_reset_view">Reset Camera View</button>
		<p class="comment">Reset only the camera to its default pose (zero relative to the fixed frame link).</p>

		<div class="spacer"></div>

		<button id="{uniqueID}_delete_persistent" style="border: 3px solid #784b4b; background-color: #4d2626;" style="float: left;" >Reset Layout to default</button>
		<p class="comment">Clear layout and import server defaults.</p>

		<div class="spacer"></div>
		
	</div>
</div>
