<div id="{uniqueID}_modal" class="modal_outer noselect">
	<div class="modal_inner noselect">
		<h3>Global Settings</h3>
		<p id="{uniqueID}_status" class="status">Status: Ok.</p>
		<hr>

		<label for="{uniqueID}_fixedframe">Fixed Frame:</label>
		<select id="{uniqueID}_fixedframe" name="topic">
			
		</select>

		<br>

		<label for="{uniqueID}_colorpicker">Background Color:</label>
		<input type="color" value="#273444" id="{uniqueID}_colorpicker">


		<hr>

		<br>

		<button id="{uniqueID}_export_persistent" class="export_button">Export Layout to File</button>

		<br>

		<button id="{uniqueID}_import_persistent" class="import_button">Import Layout from File</button>

		<br>

		<hr>

		<br>

		<button id="{uniqueID}_reset_view">Reset Camera View</button>

		<br>

		<button id="{uniqueID}_delete_persistent" class="delete_button" style="float: left;" >Reset Layout to default</button>

		
	</div>
</div>
