<div id="modal_add_element" class="modal_outer noselect">
	<div class="modal_inner noselect">
		<h3>Add Widgets</h3>
		<hr>

		<!--<div class="widget_entry" onclick="addWidget('rosbridge')">
			<img src="assets/rosbridge_disconnected.svg" alt="Rosbridge" class="card_icon">
			<div class="card">
				<b class="card_title">Rosbridge Client</b>
				<p class="card_desc">Adds another connection to a Rosbridge server</p>
			</div>
		</div>-->

		<div class="widget_entry" onclick="addWidget('battery')">
			<img src="assets/battery_80.svg" alt="Battery" class="card_icon">
			<div class="card">
				<b class="card_title">Battery</b>
				<p class="card_desc">sensor_msgs/BatteryState</p>
			</div>
		</div>


		<div class="widget_entry" onclick="addWidget('grid')">
			<img src="assets/grid.svg" alt="Grid" class="card_icon">
			<div class="card">
				<b class="card_title">Grid</b>
				<p class="card_desc">Displays a grid centered at the origin of the target frame of reference.</p>
			</div>
		</div>

	</div>
</div>
