<div id="modal_add_element" class="modal_outer noselect">
	<div class="modal_inner noselect">
		<h3>Add Widgets</h3>
		<hr>

		<!--<div class="widget_entry" onclick="addWidget('rosbridge')">
			<img src="assets/rosbridge_disconnected.svg" alt="Rosbridge" class="card_icon">
			<div class="card">
				<b class="card_title">Rosbridge Client</b>
				<p class="card_desc">Adds another connection to a Rosbridge server</p>
			</div>
		</div>-->

		<div class="widget_entry" onclick="addWidget('grid')">
			<img src="assets/grid.svg" alt="Grid" class="card_icon">
			<div class="card">
				<b class="card_title">Grid</b>
				<p class="card_desc">Infinite grid centered at the origin of the target frame of reference</p>
			</div>
		</div>

		<div class="widget_entry" onclick="addWidget('tf')">
			<img src="assets/tf.svg" alt="TF" class="card_icon">
			<div class="card">
				<b class="card_title">TF</b>
				<p class="card_desc">TF transform hierarchy</p>
			</div>
		</div>

		<div class="widget_entry" onclick="addWidget('robotmodel')">
			<img src="assets/robotmodel.svg" alt="RobotModel" class="card_icon">
			<div class="card">
				<b class="card_title">Robot Model</b>
				<p class="card_desc">Custom robot sprite</p>
			</div>
		</div>

		<div class="widget_entry" onclick="addWidget('initialpose')">
			<img src="assets/initialpose.svg" alt="Initialpose" class="card_icon">
			<div class="card">
				<b class="card_title">2D Pose Estimate</b>
				<p class="card_desc">geometry_msgs/PoseWithCovarianceStamped</p>
			</div>
		</div>

		<div class="widget_entry" onclick="addWidget('battery')">
			<img src="assets/battery_80.svg" alt="Battery" class="card_icon">
			<div class="card">
				<b class="card_title">Battery</b>
				<p class="card_desc">sensor_msgs/BatteryState</p>
			</div>
		</div>

		<div class="widget_entry" onclick="addWidget('temperature')">
			<img src="assets/temp_warm.svg" alt="Temperature" class="card_icon">
			<div class="card">
				<b class="card_title">Temperature</b>
				<p class="card_desc">sensor_msgs/Temperature</p>
			</div>
		</div>

		<div class="widget_entry" onclick="addWidget('teleop')">
			<img src="assets/joystick.svg" alt="Teleop" class="card_icon">
			<div class="card">
				<b class="card_title">Teleop Joystick</b>
				<p class="card_desc">geometry_msgs/Twist</p>
			</div>
		</div>

	</div>
</div>
