<div id="modal_add_element" class="modal_outer noselect">
	<div class="modal_inner noselect">
		<h3>Add Widgets</h3>
		<hr>

		<!--<div class="widget_entry" onclick="addWidget('rosbridge')">
			<img src="assets/rosbridge_disconnected.svg" alt="Rosbridge" class="card_icon">
			<div class="card">
				<b class="card_title">Rosbridge Client</b>
				<p class="card_desc">Adds another connection to a Rosbridge server</p>
			</div>
		</div>-->

		<div class="widget_entry" onclick="addWidget('grid')">
			<img src="assets/grid.svg" alt="Grid" class="card_icon">
			<div class="card">
				<b class="card_title">Grid</b>
				<p class="card_desc">Infinite grid centered at the origin of the target frame of reference</p>
			</div>
		</div>

		<div class="widget_entry" onclick="addWidget('tf')">
			<img src="assets/tf.svg" alt="TF" class="card_icon">
			<div class="card">
				<b class="card_title">TF</b>
				<p class="card_desc">TF transform hierarchy</p>
			</div>
		</div>

		<div class="widget_entry" onclick="addWidget('robotmodel')">
			<img src="assets/robotmodel.svg" alt="RobotModel" class="card_icon">
			<div class="card">
				<b class="card_title">Robot Model</b>
				<p class="card_desc">Custom robot sprite</p>
			</div>
		</div>

		<div class="widget_entry" onclick="addWidget('reconfigure')">
			<img src="assets/reconfigure.svg" alt="Dynamic ReCfg" class="card_icon">
			<div class="card">
				<b class="card_title">Dynamic Reconfigure</b>
				<p class="card_desc">View and edit parameters</p>
			</div>
		</div>

		<hr>

		<div class="widget_entry" onclick="addWidget('teleop')">
			<img src="assets/joystick.svg" alt="Teleop" class="card_icon">
			<div class="card">
				<b class="card_title">Teleop Joystick</b>
				<p class="card_desc">geometry_msgs/Twist</p>
			</div>
		</div>

		<div class="widget_entry" onclick="addWidget('initialpose')">
			<img src="assets/initialpose.svg" alt="Initialpose" class="card_icon">
			<div class="card">
				<b class="card_title">2D Pose Estimate</b>
				<p class="card_desc">/initialpose [geometry_msgs/PoseWithCovarianceStamped]</p>
			</div>
		</div>

		<div class="widget_entry" onclick="addWidget('simplegoal')">
			<img src="assets/simplegoal.svg" alt="Simplegoal" class="card_icon">
			<div class="card">
				<b class="card_title">2D Nav Goal</b>
				<p class="card_desc">/move_base_simple/goal [geometry_msgs/PoseStamped]</p>
			</div>
		</div>

		<div class="widget_entry" onclick="addWidget('waypoints')">
			<img src="assets/waypoints.svg" alt="Waypoints" class="card_icon">
			<div class="card">
				<b class="card_title">Waypoint Mission</b>
				<p class="card_desc">Send a list of goals [nav_msgs/Path]</p>
			</div>
		</div>

		<div class="widget_entry" onclick="addWidget('area')">
			<img src="assets/area.svg" alt="Area" class="card_icon">
			<div class="card">
				<b class="card_title">Area Mission</b>
				<p class="card_desc">Send a bounding box [vision_msgs/BoundingBox3D]</p>
			</div>
		</div>

		<div class="widget_entry" onclick="addWidget('button')">
			<img src="assets/button.svg" alt="Button" class="card_icon">
			<div class="card">
				<b class="card_title">Button</b>
				<p class="card_desc">Display and toggle boolean [std_msgs/Bool]</p>
			</div>
		</div>

		<hr>


		<div class="widget_entry" onclick="addWidget('map')">
			<img src="assets/map.svg" alt="Map" class="card_icon">
			<div class="card">
				<b class="card_title">Map</b>
				<p class="card_desc">nav_msgs/OccupancyGrid</p>
			</div>
		</div>

		<div class="widget_entry" onclick="addWidget('satelite')">
			<img src="assets/satelite.svg" alt="Satelite" class="card_icon">
			<div class="card">
				<b class="card_title">Satelite Tiles</b>
				<p class="card_desc">sensor_msgs/NavSatFix</p>
			</div>
		</div>

		<hr>

		<div class="widget_entry" onclick="addWidget('battery')">
			<img src="assets/battery_80.svg" alt="Battery" class="card_icon">
			<div class="card">
				<b class="card_title">Battery</b>
				<p class="card_desc">sensor_msgs/BatteryState</p>
			</div>
		</div>

		<div class="widget_entry" onclick="addWidget('markerarray')">
			<img src="assets/markerarray.svg" alt="MarkerArray" class="card_icon">
			<div class="card">
				<b class="card_title">Marker Array</b>
				<p class="card_desc">visualization_msgs/MarkerArray</p>
			</div>
		</div>	
		
		<div class="widget_entry" onclick="addWidget('path')">
			<img src="assets/path.svg" alt="path" class="card_icon">
			<div class="card">
				<b class="card_title">Path</b>
				<p class="card_desc">nav_msgs/Path</p>
			</div>
		</div>

		<div class="widget_entry" onclick="addWidget('temperature')">
			<img src="assets/temp_warm.svg" alt="Temperature" class="card_icon">
			<div class="card">
				<b class="card_title">Temperature</b>
				<p class="card_desc">sensor_msgs/Temperature</p>
			</div>
		</div>

	</div>
</div>
