<div id="{uniqueID}_modal" class="modal_outer noselect">
	<div class="modal_inner noselect">
		<h3>Button</h3>
		<p id="{uniqueID}_status" class="status">Status: Ok.</p>
		<hr>

		<label for="{uniqueID}_name">Display Text:</label>
		<input id="{uniqueID}_name" type="text" value="Text">

		<br>

		<label for="{uniqueID}_topic">Topic:</label>
		<select id="{uniqueID}_topic" name="topic">
			<!-- add topics here-->
		</select>
		<hr>

		<p>Multifunctional button for displaying and toggling the state from a std_msgs/Bool topic and publishing to a std_msgs/Empty topic, depending on which topic type is selected.</p>

		<p style="color:#b4b4b4;">Click the icon once to toggle the bool value or call the empty service. Long press the icon to open this menu.</p>
		
		<hr>

		<button id="{uniqueID}_remove" class="delete_button" onclick="removeWidget('{uniqueID}')">Remove Widget</button>

	</div>
</div>