<div id="{uniqueID}_modal" class="modal_outer noselect">
	<div class="modal_inner noselect">
		<h3>Button</h3>
		<hr>

		<label for="{uniqueID}_name">Display Text:</label>
		<input id="{uniqueID}_name" type="text" value="Text">

		<br>

		<label for="{uniqueID}_topic">Topic:</label>
		<select id="{uniqueID}_topic" name="topic">
			<!-- add topics here-->
		</select>
		<hr>

		<p>Publish a custom message to boolean topic and observe the value changes. For more complex value changes I'd suggest using dynamic reconfigure.</p>

		<hr>

		<button id="{uniqueID}_remove" class="delete_button" onclick="removeWidget('{uniqueID}')">Remove Widget</button>

	</div>
</div>