<div id="{uniqueID}_modal" class="modal_outer noselect">
	<div class="modal_inner noselect">
		<h3>Area</h3>
		<p id="{uniqueID}_status" class="status">Status: Ok.</p>
		<hr>

		<label for="{uniqueID}_topic">Topic:</label>
		<select id="{uniqueID}_topic" name="topic">
			<option value=""></option>
		</select>

		<p>Defines an area in the fixed frame by dragging, and publishes it so it can be used for mission purposes.</p>

		<br>

		<hr>

		<button id="{uniqueID}_remove" class="delete_button" onclick="removeWidget('{uniqueID}')">Remove Widget</button>

		
	</div>
</div>