<div id="{uniqueID}_modal" class="modal_outer noselect">
	<div class="modal_inner noselect">
		<h3>Temperature</h3>
		<p id="{uniqueID}_status" class="status">Status: Ok.</p>
		<hr>
		<label for="{uniqueID}_topic">Topic:</label>
		<select id="{uniqueID}_topic" name="topic">
			<!-- add topics here-->
		</select>

		<br>

		<p>Define indicator values:</p>

		<img src="assets/temp_hot.svg" alt="" width="35" height="35" style="vertical-align: middle;">
		<label for="{uniqueID}_hightemp">High (°C):</label>
		<input type="number" value="60" step="0.1" min="-272" max="3000" id="{uniqueID}_hightemp">

		<br>

		<img src="assets/temp_cold.svg" alt="" width="35" height="35" style="vertical-align: middle;">
		<label for="{uniqueID}_lowtemp">Low (°C):</label>
		<input type="number" value="20" step="0.1" min="-272" max="3000" id="{uniqueID}_lowtemp">

		<br>

		<hr>

		<p id="{uniqueID}_temperature">Temperature (°C): ?</p>
		<p id="{uniqueID}_variance">Variance: ?</p>

		<hr>

		<button id="{uniqueID}_remove" class="delete_button" onclick="removeWidget('{uniqueID}')">Remove Widget</button>

	</div>
</div>