<div id="{uniqueID}_modal" class="modal_outer noselect">
	<div class="modal_inner noselect">
		<h3>Dynamic Reconfigure</h3>
		<hr class="dark_hr"/>
		<label for="{uniqueID}_node">Node name:</label>
		<select id="{uniqueID}_node" name="node">
			<!-- add topics here-->
		</select>

		<span style="display:flex; align-items: center;"><button id="{uniqueID}_refresh" style="margin-top: 12px; margin-bottom: 6px;">Refresh</button><div id="{uniqueID}_loader" class="loader"></div></span>

		<hr class="dark_hr"/>

		<div id="{uniqueID}_params">
			<!-- add params here-->

		</div>

		

		<hr class="dark_hr"/>

		<button id="{uniqueID}_remove" class="delete_button" onclick="removeWidget('{uniqueID}')">Remove Widget</button>

	</div>
</div>