<launch>

	<!-- Launch rosbridge without https so it works in AP mode. -->
	<include file="$(find rosbridge_server)/launch/rosbridge_websocket.launch">
		<arg name="ssl" value="false" />
		<arg name="port" value="9090" />
		<arg name="use_compression" value="true" />
	</include>

	<node name="tf2_web_republisher" pkg="tf2_web_republisher" type="tf2_web_republisher" output="screen" ns="/"/>

	<node name="outdooros_server_node" pkg="outdooros" type="server.py" output="screen"/>
	<node name="outdooros_handler_node" pkg="outdooros" type="outdooros.py" output="screen"/>
    
</launch>
