<div id="{uniqueID}_modal" class="modal_outer noselect">
	<div class="modal_inner noselect">
		<h3>Marker Array</h3>
		<p id="{uniqueID}_status" class="status">Status: Ok.</p>
		<hr class="dark_hr"/>

		<label for="{uniqueID}_topic">Topic:</label>
		<select id="{uniqueID}_topic" name="topic">
			<!-- add topics here-->
		</select>

		<p>Render visualization_msgs/MarkerArray batches of visualization_msgs/Marker messages.</p>

		<p class="comment">Most marker types are supported, except POINTS and MESH_RESOURCE. Mileage may vary with pitch and roll rotations.</p>

		<hr class="dark_hr"/>

		<div class="spacer"></div>

		<label>Namespaces:</label>
		<div id="{uniqueID}_namespace" class="live_data_display"></div>

		<div class="spacer"></div>

		<label for="{uniqueID}_opacity">Opacity:</label>
		<span id="{uniqueID}_opacity_value">1.0</span>
		<input type="range" value="1.0" step="0.05" min="0.0" max="1.0" id="{uniqueID}_opacity">

		<div class="spacer"></div>

		<label for="{uniqueID}_throttle">Socket throttle (ms):</label>
		<input type="number" value="100" step="1" min="0" max="10000" id="{uniqueID}_throttle">


		<hr class="dark_hr"/>

		<button id="{uniqueID}_remove" class="delete_button" onclick="removeWidget('{uniqueID}')">Remove Widget</button>

		
	</div>
</div>